<form [formGroup]="newPassword" ngForm="newPassword">
    <p-card [style]="{'font-weight': 'bold' }">
        <div class="col-5">
            <label for="">New Password</label>
        </div>

        <div class="row">
            <div class="col-5">
                <label for="">Name: </label>
            </div>
            <div class="col-7">
                <label for="">{{userToEdit.userName }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-5"><label for="">New Password: </label>
            </div>
            <div class="col-7">
                <p-password class="newPassword" [(ngModel)]="userToEdit" formControlName="passwordControl">
                    <ng-template pTemplate="header">
                        <h6>Pick a password</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="p-mt-2">Suggestions</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one numeric</li>
                            <li>Minimum 6 characters</li>
                        </ul>
                    </ng-template>
                </p-password>
            </div>
        </div>

        <div class="row">
            <div class="col-5"><label for="">Confirm Password: </label>
            </div>
            <div class="col-7">
                <p-password class="confirmPassword" formControlName="passwordControl">
                </p-password>
            </div>
        </div>

        <div class="row">
            <div>
                <button class="saveButton" [disabled]="" type="button" (click)="passwordChangeClick()" pButton>
                    Password Change
                </button>
            </div>
        </div>

    </p-card>
</form>