<div>
<!-- new blogpost click -->
<div class="fixed-bottom mb-7 ms-1 banner">
    <button pButton *ngIf="userLoggedIn" class="newBlogClick" [routerLink]="'/creatNewItem'">New Blogpost</button>
</div>

<div class="blogPostDiv" *ngFor="let blogPost of blogListe">
<p-card class="d-block "
  header={{blogPost.title}}
  [style]="{ width: '50%' }"
  styleClass="shadow-2">

  <ng-template pTemplate="header"> </ng-template>
  <p>
    {{blogPost.body}}
  </p>
  <ng-template pTemplate="body">

    <button class="bearbeitenButton" *ngIf="userLoggedIn" [routerLink]="'/editComponent'"
    [queryParams]="{id:blogPost.id}" label="Edit"><i class="bi bi-pencil-square"></i>Edit
    </button>
    <div class="icon-dev d-inline float-end">
    <img *ngIf="userLoggedIn"><img (click)="likeClick(blogPost)"
    class="icon"   src="https://img.icons8.com/dotty/80/null/thumb-up.png"/>

    <img (click)="dislikeClick(blogPost)" class="icon"
    src="https://img.icons8.com/dotty/80/null/thumbs-down.png"/>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    That post have {{blogPost.like}} like
</ng-template>
</p-card>
</div>
</div>
