.newBlogClick{
    background-color: #6c9876;
    border-color: #6c9876;
    color: rgb(238, 233, 233);
    width: 9rem;
    text-align: center;
    height: 3rem;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.bearbeitenButton {
    background-color: #6c9876;
    border: none;
    color: rgb(238, 233, 233);
    padding: 10px;
    border-radius: 15px;
}

.bearbeitenButton:hover{
    color: #fff;
    border: solid;
    border-color: #fff;
}

.newBlogClick:hover {
    background-color: #6c9876;
    border-color: #fff;
    color: #fff;
}

p-card{
    margin-top: 10px;
}

p-card ::ng-deep div {
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    margin: auto;
}
.blogPostDiv{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}


/* like start */
.icon{
    width: 40px;
    height: 40px;
    border: 0px;
    margin: 1px;
    margin-right:10px ;
}

.icon:hover {
    width: 41px;
    height: 41px;
}

.likeLable{
    margin: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* like end */
