<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">
            <img alt="Brand" src="assets/icon.png" width="30" height="30">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="userIsAdmin" routerLink="users"
            routerLinkActive="active-link">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>
        </ul>
        <form class="d-flex" role="user-potion">
                <a class="nav-link " *ngIf="!userLoggedIn" routerLink="newUser"
                routerLinkActive="active-link">Sing up</a>
                <a class="nav-link " *ngIf="!userLoggedIn" routerLink="singin"
                routerLinkActive="active-link">Login</a>

                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"> {{userToEdit.userName}}</i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" *ngIf="userLoggedIn" [routerLink]="'/editUser'"
                    [queryParams]="{id:userToEdit.id}">Edit</a>
                    </li>
                    <li>
                    <a class="dropdown-item" *ngIf="userLoggedIn" routerLink="''" (click)="accountService.logout()">
                    Log Out</a>
                    </li>
                </ul>
        </form>
      </div>
    </div>
  </nav>
