<footer class="contasiner-fluid mt-8 footer bg-dark text-center text-white mt-2">
    <div>
        <div class="row">
            <!-- home-page -->
            <div class="col-1">
                <h1><a class="navbar-brand" href="#">Blogpost</a></h1>
            </div>
            <div class="col-9">
                <p>SHARE YOUR THOUGHTS..</p>
            </div>

            <!-- socialmedia -->
            <div class="col-2 ">
                <a class=" navbar-brand" href="tel:+49681996870">
                    <i class="icon bi bi-telephone-fill"></i></a>
                <a class="navbar-brand" href="https://meta-level.de/">
                    <i class="icon bi bi-globe"></i>
                </a>
                <a class="navbar-brand" href="https://www.facebook.com/metalevelsoftware/">
                    <i class="icon bi bi-facebook"></i></a>
                <a class="navbar-brand" href="https://www.youtube.com/channel/UC6nwjwH371RorU3yHpjYaEA">
                    <i class="icon bi bi-youtube"></i></a>
            </div>

        </div>
    </div>
</footer>
